{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Gulmohar</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'travel_fox/images/logo.png' %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <!-- custom css file link  -->
    <link rel="stylesheet" href="static/travel_fox/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
    />

    {% comment %} <link
      rel="stylesheet"
      type="text/css"
      href="your_website_domain/css_root/flaticon.css"
    /> {% endcomment %}

    <!-- custom js file link  -->
    <script src="static/travel_fox/js/script.js" defer></script>
  </head>

  <body>
    <!-- header section starts  -->

    <header class="header">
      <div id="menu-btn" class="fas fa-bars"></div>
      <a href="#" style="width: 10px; height: 20px"
        ><img
          class="gul-logo"
          src="{% static 'travel_fox/images/logo.png' %}"
          style="width: auto; height: 75px; position: relative; top: -26px"
      /></a>
      <a data-aos="zoom-in-left" data-aos-delay="150" href="#" class="logo"
        ><span>T</span>he <span>G</span>ulmohar
      </a>

      <nav class="navbar">
        <a data-aos="zoom-in-left" data-aos-delay="300" href="#home">home</a>
        <a data-aos="zoom-in-left" data-aos-delay="450" href="#about"
          >about us</a
        >
        <a data-aos="zoom-in-left" data-aos-delay="750" href="#services"
          >services</a
        >
        <a data-aos="zoom-in-left" data-aos-delay="600" href="#destination"
          >destination</a
        >
        <a data-aos="zoom-in-left" data-aos-delay="900" href="#gallery"
          >gallery</a
        >
        <a data-aos="zoom-in-left" data-aos-delay="1150" href="#blogs">blogs</a>
      </nav>

      <a
        data-aos="zoom-in-left"
        data-aos-delay="1300"
        href="#BookNow"
        class="btn"
        >book now</a
      >
    </header>

    <!-- header section ends -->
    <section class="home" id="home">
      {% comment %}
      <style>
        .text-center {
          text-align: center;
        }
        .text-white {
          color: #ffffff;
        }
        .mx-auto {
          margin: 0 auto;
        }
        .col-lg-8 {
          width: 96.666667%;
        }
        h2 {
          font-size: 36px;
          font-weight: bold;
          margin-bottom: 20px;
        }
        .lead {
          font-size: 18px;
          margin-bottom: 40px;
        }
      </style>
      <div class="col-lg-8 mx-auto text-white text-center">
        <h2 class="text-white">Book your stay with us</h2>
        <p class="lead">
          Experience Unforgettable Memories at Our Guest House - Where Comfort
          Meets Inspiration
        </p>
        <a
          data-aos="fade-up"
          data-aos-delay="600"
          href="#"
          class="btn"
          style="
            background-color: #fff;
            color: #333;
            padding: 10px 20px;
            border-radius: 30px;
            text-decoration: none;
          "
          >Book Now</a
        >
      </div>
      {% endcomment %}
      <style>
        .text-center {
          text-align: center;
        }
        .text-white {
          color: #ffffff;
        }
        .mx-auto {
          margin: 0 auto;
        }
        .col-lg-8 {
          width: 70.666667%;
        }
        h2 {
          font-size: 45px;
          font-weight: bold;
          margin-bottom: 20px;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        }
        .lead {
          font-size: 18px;
          margin-bottom: 40px;
          text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        }
        {% comment %} .btn {
          background-color: #fff;
          color: #333;
          padding: 10px 20px;
          border-radius: 30px;
          text-decoration: none;
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
          transition: all 0.2s ease-in-out;
        }
        .btn:hover {
          transform: translateY(-2px);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
        } {% endcomment %}
      </style>
      <div class="col-lg-8 mx-auto text-white text-center">
        <h2 class="text-white" data-aos="fade-up" data-aos-delay="150">Book Your Stay with Us</h2>
        <!--Highlite Where comfort meets insperation-->
        <p class="lead" data-aos="fade-up" data-aos-delay="300">
          Experience Unforgettable Memories at Our Guest House - Where Comfort Meets Inspiration
        </p>
        <a data-aos="fade-up" data-aos-delay="450" href="#BookNow" class="btn"
          >book now</a
        >
      </div>

      
    </section>

    {% comment %} home section starts {% endcomment %}
    {% comment %} <section class="home" id="home">
      <div class="content">
        <span data-aos="fade-up" data-aos-delay="150">Let's Start</span>
        <h3 data-aos="fade-up" data-aos-delay="300">World Tour With Us</h3>
        <p data-aos="fade-up" data-aos-delay="450">
          Bring inspiration and innovation to every traveler in the world
        </p>
        <a data-aos="fade-up" data-aos-delay="600" href="#" class="btn"
          >book now</a
        >
      </div>
    </section> {% endcomment %}

    <!-- home section ends -->

    <!-- booking form section starts  -->
    {% comment %}
    <section class="book-form" id="book-form">
      <form action="">
        <div data-aos="zoom-in" data-aos-delay="150" class="inputBox">
          <span>you are planning?</span>
          <input type="text" placeholder="place name" value="" />
        </div>
        <div data-aos="zoom-in" data-aos-delay="300" class="inputBox">
          <span>When looking for ?</span>
          <input type="date" value="" />
        </div>
        <div data-aos="zoom-in" data-aos-delay="450" class="inputBox">
          <span>Total members?</span>
          <input type="number" placeholder="number of travelers" value="" />
        </div>
        <input
          data-aos="zoom-in"
          data-aos-delay="600"
          type="submit"
          value="find now"
          class="btn"
        />
      </form>
    </section>
    {% endcomment %}

    <!-- booking form section ends -->

    <!-- about section starts  -->

    <section class="about" id="about">
      <div class="video-container" data-aos="fade-right" data-aos-delay="300">
        {% comment %}<img style="height: 500px; width: 500px;"
              src="{% static 'assets/gulmohar_imgs/sideFront.jpg' %}"
              alt=""
            /> {% endcomment %}
        <video
          src="static/travel_fox/images/production ID-4147886.mp4"
          muted
          autoplay
          loop
          class="video"
        ></video>
      </div>

      <div class="content" data-aos="fade-left" data-aos-delay="600">
        <span>sugam hospitality</span>
        <h3>Relax and Unwind</h3>
        <p>
          The Gulmohar is a charming guesthouse that offers 2 comfortable suites and a tranquil garden setting. Escape from the hustle and bustle of the city and unwind in our peaceful atmosphere.
        </p>
        <a href="#" class="btn">Learn More</a>
      </div>
    </section>

    <!-- about section ends -->

    <!-- services section starts  -->

    <section class="services" id="services">
      <div class="heading">
        <span>our services</span>
        <h1>Buget Friendly</h1>
      </div>

      <div class="box-container">
        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
          {% comment %} <i class="fas fa-globe"></i> {% endcomment %}
          <img
            src="{% static 'travel_fox/images/biodegradable.png' %}"
            style="width: 50px; height: 50px"
          />
          {% comment %} <i>src="{% static 'travel_fox/images/logo.png' %}</i> {%
          endcomment %} {% comment %}
          <i
            href="https://www.flaticon.com/free-icons/eco-friendly"
            title="eco friendly icons"
            >Eco friendly icons created by Freepik - Flaticon</i
          >
          {% endcomment %}
          <h3>Tranquil Environment</h3>
          <p>
            The Gulmohar Guesthouse is surrounded by a peaceful and calm atmosphere, perfect for those looking for a relaxing holiday.
          </p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
          <img
            src="{% static 'travel_fox/images/icons/free-wifi.png' %}"
            style="width: 50px; height: 50px"
          />
          <h3>Free Wifi</h3>
          {% comment %} <a href="https://www.flaticon.com/free-icons/free-wifi" title="free wifi icons">Free wifi icons created by Freepik - Flaticon</a> {% endcomment %}
          <p>
            Stay connected during your stay with us. Our guesthouse offers free and fast Wi-Fi access to all guests.
          </p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
          <img
            src="{% static 'travel_fox/images/icons/breakfast.png' %}"
            style="width: 50px; height: 50px"
          />

          {% comment %} <a href="https://www.flaticon.com/free-icons/breakfast" title="breakfast icons">Breakfast icons created by Freepik - Flaticon</a> {% endcomment %}
          <h3>Homemade Food and Free Breakfast</h3>
          <p>
            Enjoy delicious, homemade meals and a free, nutritious breakfast each morning at the Gulmohar Guesthouse.
          </p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="600">
          <img
            src="{% static 'travel_fox/images/icons/barbeque.png' %}"
            style="width: 50px; height: 50px"
          />
          <h3>Camp Fire and Barbeque available</h3>
          <p>
            Join us for a night of fun and relaxation around the campfire or enjoy a barbeque with friends and family.
          </p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="750">
          <img
            src="{% static 'travel_fox/images/icons/affordable.png' %}"
            style="width: 50px; height: 50px"
          />
          {% comment %} <a href="https://www.flaticon.com/free-icons/affordable" title="affordable icons">Affordable icons created by Flat Icons - Flaticon</a> {% endcomment %}
          <h3>affordable Price </h3>
          <p>
            At the Gulmohar Guesthouse, we offer cost-effective rates without sacrificing quality and comfort.
          </p>
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="900">
          <img
            src="{% static 'travel_fox/images/icons/availability.png' %}"
            style="width: 50px; height: 50px"
          />
          {% comment %} <a href="https://www.flaticon.com/free-icons/availability" title="availability icons">Availability icons created by Freepik - Flaticon</a> {% endcomment %}
          <h3>support</h3>
          <p>
            Our guesthouse offers 24/7 support for our guests. You can reach us anytime for any help or support you may need during your stay with us
          </p>
        </div>
      </div>
    </section>

    <!-- services section ends -->

    <!-- destination section starts  -->

    <section class="destination" id="destination">
      <div class="heading">
        <span>our destination</span>
        <h1>Keep looking up</h1>
      </div>

      <div class="box-container">
        <div class="box" data-aos="fade-up" data-aos-delay="150">
          <div class="image">
            <img
              src="{% static 'assets/gulmohar_imgs/beadroom1.1.jpg' %}"
              alt=""
            />
          </div>
          <div class="content">
            <p>Spacious Bedroom: "Comfortable and roomy sleeping quarters</p>
            <a href="#">read more <i class="fas fa-angle-right"></i></a>
          </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
          <div class="image">
            <img
              src="{% static 'assets/gulmohar_imgs/livingroom2.jpg' %}"
              alt=""
            />
          </div>
          <div class="content">
            <p>Bright and inviting living area.</p>
            <a href="#">read more <i class="fas fa-angle-right"></i></a>
          </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="450">
          <div class="image">
            <img
              src="{% static 'assets/gulmohar_imgs/frontview2.jpg' %}"
              alt=""
            />
          </div>
          <div class="content">
            <p>Greeted with a warm and cozy atmosphere</p>
            <a href="#">read more <i class="fas fa-angle-right"></i></a>
          </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="600">
          <div class="image">
            <img src="{% static 'assets/gulmohar_imgs/parking.jpg' %}" alt="" />
          </div>
          <div class="content">
            <p>Convenient and hassle-free parking available</p>
            <a href="#">read more <i class="fas fa-angle-right"></i></a>
          </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="750">
          <div class="image">
            <img
              src="{% static 'assets/gulmohar_imgs/sideFront.jpg' %}"
              alt=""
            />
          </div>
          <div class="content">
            <p>Quiet and tranquil residential setting in a peaceful location</p>
            <a href="#">read more <i class="fas fa-angle-right"></i></a>
          </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="900">
          <div class="image">
            <img
              src="{% static 'assets/gulmohar_imgs/coffeset.png' %}"
              alt=""
            />
          </div>
          <div class="content">
            <p>Enjoy a hot cup of tea or coffee at any time</p>
            <a href="#">read more <i class="fas fa-angle-right"></i></a>
          </div>
        </div>

        {% comment %} <div class="box" data-aos="fade-up" data-aos-delay="1150">
          <div class="image">
            <img src="images/des-7.jpg" alt="" />
          </div>
          <div class="content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
            <a href="#">read more <i class="fas fa-angle-right"></i></a>
          </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="1300">
          <div class="image">
            <img src="images/des-8.jpg" alt="" />
          </div>
          <div class="content">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing.</p>
            <a href="#">read more <i class="fas fa-angle-right"></i></a>
          </div> {% endcomment %}
        </div>
      </div>
    </section>

    <!-- destination section ends -->

    <!-- gallery section starts  -->

    <section class="gallery" id="gallery">
      <div class="heading">
        <span>our gallery</span>
        <h1>Memories last forever</h1>
      </div>

      <div class="box-container">
        <div class="box" data-aos="zoom-in-up" data-aos-delay="150">
          <img
            src="{% static 'assets/gulmohar_imgs/livingroom2.jpg' %}"
            alt=""
          />
          {% comment %} <span>travel spot</span> {% endcomment %} {% comment %}
          <h3>Img1</h3>
          {% endcomment %}
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="300">
          <img
            src="{% static 'assets/gulmohar_imgs/frontview2.jpg' %}"
            alt=""
          />
          {% comment %} <span>travel spot</span> {% endcomment %} {% comment %}
          <h3>Img2</h3>
          {% endcomment %}
        </div>

        <div class="box gallery" data-aos="zoom-in-up" data-aos-delay="450">
          <img src="{% static 'assets/gulmohar_imgs/parking.jpg' %}" alt="" />
          {% comment %} <span>travel spot</span> {% endcomment %} {% comment %}
          <h3>img3</h3>
          {% endcomment %}
        </div>

        <div class="box gallery" data-aos="zoom-in-up" data-aos-delay="150">
          <img
            src="{% static 'assets/gulmohar_imgs/beadroom1.1.jpg' %}"
            alt=""
          />
          {% comment %} <span>travel spot</span> {% endcomment %} {% comment %}
          <h3>img4</h3>
          {% endcomment %}
        </div>

        <div class="box gallery" data-aos="zoom-in-up" data-aos-delay="300">
          <img
            src="{% static 'assets/gulmohar_imgs/LivingRoom.jpg'  %}"
            alt=""
          />
          {% comment %} <span>travel spot</span> {% endcomment %} {% comment %}
          <h3>img5</h3>
          {% endcomment %}
        </div>

        <div class="box gallery" data-aos="zoom-in-up" data-aos-delay="450">
          <img src="{% static 'assets/gulmohar_imgs/coffeset.png'  %}" alt="" />
          {% comment %} <span>travel spot</span> {% endcomment %} {% comment %}
          <h3>img6</h3>
          {% endcomment %}
        </div>

        <div class="box gallery" data-aos="zoom-in-up" data-aos-delay="150">
          <img
            src="{% static 'assets/gulmohar_imgs/frontview2.jpg' %}"
            alt=""
          />
          {% comment %} <span>travel spot</span> {% endcomment %} {% comment %}
          <h3>img7</h3>
          {% endcomment %}
        </div>

        <div class="box gallery" data-aos="zoom-in-up" data-aos-delay="300">
          <img
            src="{% static 'assets/gulmohar_imgs/livingroom2.jpg' %}"
            alt="Coffeset"
          />
          {% comment %} <span>travel spot</span> {% endcomment %} {% comment %}
          <h3>img8</h3>
          {% endcomment %}
        </div>

        <div class="box" data-aos="zoom-in-up" data-aos-delay="450">
          <img src="{% static 'assets/gulmohar_imgs/sideFront.jpg' %}" alt="" />
          {% comment %} <span>travel spot</span> {% endcomment %} {% comment %}
          <h3>img9</h3>
          {% endcomment %}
        </div>
      </div>
    </section>

    <!-- review section starts  -->
    <section class="review">
      <div class="box-container" data-aos="fade-right" data-aos-delay="300">
        <div class="box" id="box">
          <p>"It's best property to stay in residential area.</p>

          <div class="user">
            <img
              src="{% static 'assets/gulmohar_imgs/Guest_profile_pic/Ashish Joshi.png' %}"
              alt=""
            />
            <div class="info">
              <h3>Ashish joshi</h3>
              <span>Guest</span>
            </div>
          </div>
        </div>
        <div class="box">
          <p>
            Nice place to visit with family 👨‍👩‍👧‍👦 Awesome place clean and hygienic
            rooms.
          </p>
          <div class="user">
            <img
              src="{% static 'assets/gulmohar_imgs/Guest_profile_pic/yogita.png'%}"
              alt=""
            />
            <div class="info">
              <h3>Yogita Bhoyar</h3>
              <span>Guest</span>
            </div>
          </div>
        </div>
        <div class="box">
          <p>Nice place to get accommodation when you are in Chikhaldarra.</p>
          <div class="user">
            <img
              src="{% static 'assets/gulmohar_imgs/Guest_profile_pic/gaynesh.png'%}"
              alt=""
            />
            <div class="info">
              <h3>Gyanesh Nanore</h3>
              <span>Guest</span>
            </div>
          </div>
        </div>
        <div class="box">
          <p>Very budget friendly and the care taker is nice.</p>
          <div class="user">
            <img
              src="{% static 'assets/gulmohar_imgs/Guest_profile_pic/Hrrishta Tiwari.png'%}"
              alt=""
            />
            <div class="info">
              <h3>Hrishita Tiwari</h3>
              <span>Guest</span>
            </div>
          </div>
        </div>
      </div>

      <div class="content" data-aos="fade-left" data-aos-delay="600">
        <span>testimonials</span>
        <h3>good news from our clients</h3>
        <p>Rated 4.7 on google, We provide one of best stay in Chikhaldhara.</p>
      </div>
    </section>

    <!-- 
    <section class="review">
      <div class="box-container" data-aos="fade-right" data-aos-delay="300">
        <div class="box" id="box" style="height: 300px">
          <p>
            "It's best property to stay in residential area...Good atmosphere,
            rooms are neat and clean, lovely garden <span id="dot">...</span><span id="more" style="display:none">located back side of
            property..Tree plantation and small lawn gives you a complete nature
            touch."</span>

            
          </p>
          <div class="read-more" style="postion: relative; margin-left: 120px">
            <a class="read" id="mybtn" style="width: 20px; height: 30px; font-size:12px; cursor:pointer" onClick="readMore()" >...read more</a>
          </div>
          <div class="user">
            <img
              src="{% static 'assets/gulmohar_imgs/Guest_profile_pic/Ashish Joshi.png' %}"
              alt=""
            />
            <div class="info">
              <h3>Ashish joshi</h3>
              <span>Guest</span>
            </div>

          </div>
        </div>
        <div class="box">
          <p>
            Nice place to visit with family 👨‍👩‍👧‍👦 Awesome place clean and hygienic
            rooms,parking place available.. Rooms service was very good ,staff
            is well mannered..😇 Nice hotel in chikhladra❤️ The hotel is very
            budget💰 and the service also very excellent⭐👍 Good hotel for
            stay😊 Nice Experience 🤗🤩"
          </p>
          <div class="user">
            <img
              src="{% static 'assets/gulmohar_imgs/Guest_profile_pic/yogita.png'%}"
              alt=""
            />
            <div class="info">
              <h3>Yogita Bhoyar</h3>
              <span>Guest</span>
            </div>
          </div>
        </div>
        <div class="box">
          <p>
            Nice place to get accommodation when you are in Chikhaldarra. Good
            Place. No disturbance. Great connectivity.
          </p>
          <div class="user">
            <img
              src="{% static 'assets/gulmohar_imgs/Guest_profile_pic/gaynesh.png'%}"
              alt=""
            />
            <div class="info">
              <h3>Gyanesh Nanore</h3>
              <span>Guest</span>
            </div>
          </div>
        </div>
        <div class="box">
          <p>Very budget friendly and the care taker is nice.</p>
          <div class="user">
            <img
              src="{% static 'assets/gulmohar_imgs/Guest_profile_pic/Hrrishta Tiwari.png'%}"
              alt=""
            />
            <div class="info">
              <h3>Hrishita Tiwari</h3>
              <span>Guest</span>
            </div>
          </div>
        </div>
      </div>

      <div class="content" data-aos="fade-left" data-aos-delay="600">
        <span>testimonials</span>
        <h3>good news from our clients</h3>
        <p>Rated 4.7 on google, We provide one of best stay in Chikhaldhara.</p>
      </div>
    </section>

review section ends -->

    <!-- script-->
    <script>
      const readMore = () => {
        const dots = document.getElementById("dot");
        const moreText = document.getElementById("more");
        const btnText = document.getElementById("mybtn");
        const boxSize = document.getElementById("box");

        if (dot.style.display === "none") {
          dot.style.display = "inline";
          readMore.innerHTML = "Read More";
          moreText.style.display = "none";
          boxSize.style.height = "300px";
        } else {
          dot.style.display = "none";
          readMore.innerHTML = "Read Less";
          moreText.style.display = "inline";
          boxSize.style.height = "auto";
        }
      };
    </script>
    <!--script-->

    <!-- banner section starts  -->

    <div class="banner" id="BookNow">
      {% comment %} <div class="content" data-aos="zoom-in-up" data-aos-delay="300">
        <span>start your adventures</span>
        <h3>Let's Explore World With Us</h3>
        <p>
          Explore The World And Its Beauty With Us. Book Your Next Trip And Experience Breathtaking Landscapes And Exotic Cultures.
        </p>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet"> {% endcomment %}

        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
<div data-aos="zoom-in-up" data-aos-delay="300" style="text-align: center; padding: 30px;">
  <h2 style="font-size: 36px; font-weight: 700; color: #fff; margin-bottom: 20px; font-family: 'Open Sans', sans-serif;">Contact Us</h2>
  <p style="font-size: 18px; font-weight: 600;color: #fff;  margin-bottom: 20px; font-family: 'Open Sans', sans-serif;">For booking, call us on this number:</p>
  <a style="font-size: 30px; font-weight: bold;color: #fff;  margin-bottom: 20px; font-family: 'Open Sans', sans-serif;" href="tel:+919422116736">+919422116736</a> <br>
  
  {% comment %} <p style="font-size: 30px; font-weight: bold;color: #fff;  margin-bottom: 20px; font-family: 'Open Sans', sans-serif;">+91 9422116736</p> {% endcomment %}
  <a href="tel:+919422116736" class="btn">book now</a>

</div>
      </div>
    </div>

    <!-- banner section ends -->

    <!-- blogs section starts  -->

    <section class="blogs" id="blogs">
      <div class="heading">
        <span>blogs & posts</span>
        <h1>Nearby Attractions</h1>
      </div>

      <div class="box-container">
        <div class="box" data-aos="fade-up" data-aos-delay="150">
          <div class="image">
            <img
              src="{% static 'assets/img/attraction/Bhemkund.jpg'%}"
              alt=""
            />
          </div>
          <div class="content">
            <a href="#" class="link">Bhemkund.</a>
            <p>
              Bhimkund is a Natural blue water tank located at a distance of
              around 78 km from Chhattarpur district, on the way from
              Chikhaldara to Pratwada.
            </p>
            <div class="icon">
              <a href="#"><i class="fas fa-clock"></i> 05th Jan, 2023</a>
              <a href="#"><i class="fas fa-user"></i> by admin</a>
            </div>
          </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
          <div class="image">
            <img
              src="{% static 'assets/img/attraction/TigerReserve.jpg'%}"
              alt=""
            />
          </div>
          <div class="content">
            <a href="#" class="link">Melghat Tiger Reserve</a>
            <p>
              he Melghat Tiger Reserve is found in the northern part of the
              Amravati District, Maharashtra. it is one of the 9 tiger reserves
              identified by Project Tiger.
            </p>
            <div class="icon">
              <a href="#"><i class="fas fa-clock"></i> 05th Jan, 2023</a>
              <a href="#"><i class="fas fa-user"></i> by admin</a>
            </div>
          </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="450">
          <div class="image">
            <img
              src="{% static 'assets/img/attraction/Narnala Fort.jpg'%}"
              alt=""
            />
          </div>
          <div class="content">
            <a href="#" class="link">Narnala Fort</a>
            <p>
              Resting tall and strong on an unaccompanied hill of the Satpura
              mountain range, the Narnala Fort stands as a testimony to the
              Mughals' rich history and their remarkable architecture.
            </p>
            <div class="icon">
              <a href="#"><i class="fas fa-clock"></i> 05th Jan, 2023</a>
              <a href="#"><i class="fas fa-user"></i> by admin</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- blogs section ends -->

    <!-- footer section starts  -->

    <section class="footer">
      <div class="box-container">
        <div class="box" data-aos="fade-up" data-aos-delay="150">
          <a href="#" class="logo"> <span>T</span>he <span>G</span>ulmohar</a>
          <p>
            Experience Unforgettable Memories At Our Guest House - Where Comfort Meets Inspiration.
          </p>
          <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
          </div>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="300">
          <h3>quick links</h3>
          <a href="#home" class="links">
            <i class="fas fa-arrow-right"></i> home
          </a>
          <a href="#about" class="links">
            <i class="fas fa-arrow-right"></i> about
          </a>
          <a href="#destination" class="links">
            <i class="fas fa-arrow-right"></i> destination
          </a>
          <a href="#services" class="links">
            <i class="fas fa-arrow-right"></i> services
          </a>
          <a href="#gallery" class="links">
            <i class="fas fa-arrow-right"></i> gallery
          </a>
          <a href="#blogs" class="links">
            <i class="fas fa-arrow-right"></i> blogs
          </a>
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="450">
          <h3>contact info</h3>
          <p><i class="fas fa-map"></i> Chikhaldara, india</p>
          {% comment %} <a  class="fas fa-phone" href="tel:+919422116736">+919422116736</a> {% endcomment %}
          <p><i  class="fas fa-phone"></i> +919422116736</p>
          <p><i class="fas fa-envelope"></i> shubhamkhd@gmail.com</p>
          {% comment %} <p><i class="fas fa-clock"></i> 7:00am - 10:00pm</p> {% endcomment %}
        </div>

        <div class="box" data-aos="fade-up" data-aos-delay="600">
          <h3>newsletter</h3>
          <p>subscribe for latest updates</p>
          <form action="">
            <input
              type="email"
              name=""
              placeholder="enter your email"
              class="email"
              id=""
            />
            <input type="submit" value="subscribe" class="btn" />
          </form>
        </div>
      </div>
    </section>

    <!-- footer section ends -->
    <a href="https://www.flaticon.com/free-icons/barbeque" title="barbeque icons">Barbeque icons created by kmg design - Flaticon</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>

    <script>
      AOS.init({
        duration: 800,
        offset: 150,
      });
    </script>
  </body>
</html>
