<!-- -------- START HEADER 5 w/ text and illustration ------- -->
<header>
    <div class="page-header min-vh-80">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 my-auto">
            <h1 class="mb-4">Desired Experiences</h1>
            <p class="lead">The time is now for it to be okay to be great. For being a bright color. For standing out.</p>
            <div class="buttons">
              <button type="button" class="btn bg-gradient-warning mt-4">Discover</button>
              <button type="button" class="btn text-warning shadow-none mt-4">Read more</button>
            </div>
          </div>
          <div class="col-lg-8 ps-5 pe-0">
            <div class="row mt-3">
              <div class="col-lg-3 col-6">
                <img class="w-100 border-radius-lg shadow mt-0 mt-lg-7" src="../../assets/img/examples/header-5-img-1.jpg" alt="flower-1" loading="lazy">
              </div>
              <div class="col-lg-3 col-6">
                <img class="w-100 border-radius-lg shadow" src="../../assets/img/examples/header-5-img-2.jpg" alt="flower-2" loading="lazy">
                <img class="w-100 border-radius-lg shadow mt-4" src="../../assets/img/examples/header-5-img-3.jpg" alt="flower-3" loading="lazy">
              </div>
              <div class="col-lg-3 col-6 mb-3">
                <img class="w-100 border-radius-lg shadow mt-0 mt-lg-5" src="../../assets/img/examples/header-5-img-4.jpg" alt="flower-4" loading="lazy">
                <img class="w-100 border-radius-lg shadow mt-4" src="../../assets/img/examples/header-5-img-5.jpg" alt="flower-5" loading="lazy">
              </div>
              <div class="col-lg-3 col-6">
                <img class="w-100 border-radius-lg shadow mt-3" src="../../assets/img/examples/header-5-img-6.jpg" alt="flower-6" loading="lazy">
                <img class="w-100 border-radius-lg shadow mt-4" src="../../assets/img/examples/header-5-img-7.jpg" alt="flower-7" loading="lazy">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- -------- END HEADER 5 w/ text and illustration ------- -->