<!-- -------- START HEADER 6 w/ mobile ------- -->
<header>
    <div class="page-header min-vh-75 bg-gradient-dark">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 my-auto">
            <div class="brand">
              <h1 class="text-white mb-0"> Material Kit Premium</h1>
              <p class="text-white opacity-8"> Start your development with a badass material UI Kit for youy projects inspired by Material Design. </p>
              <button class="btn btn-white mt-4" type="button" name="button">Check more</button>
            </div>
          </div>
          <div class="col-lg-6 ms-auto">
            <img src="../../assets/img/iphones.png" class="w-70 z-index-2 ms-5" loading="lazy">
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">
    <div class="container">
      <div class="row pt-4">
        <div class="col-xl-5 col-md-8 col-12 text-start">
          <div class="text-start border-radius-lg">
            <h3>See our projects</h3>
            <p class="mb-4">
              <span class="font-weight-bold">The time</span>
              is now for it to be okay to be great. People in this world shun people for being great.
              For being a bright color. Contact us at <a href="javascript:;" class="text-primary font-weight-normal">contact@material-design.com</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -------- END HEADER 12 w/ mobile ------- -->